
<div class="container text-center">
    <h1 id="firstHeading" class="headingClass">Todo List</h1>

    <div class="accordion" id="accordionExample">
        <div class="accordion-item"  *ngFor = "let todo of todos">
          <h2 class="accordion-header" [id]="'heading'+todo.sno">
            <button class="accordion-button collapsed set-pos" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#collapse'+todo.sno" aria-expanded="false" >
              {{todo.title}}
              <button class="btn to-right" (click)="deleteTodo(todo)"><mat-icon color="warn">delete</mat-icon></button>
              <button (click)="addFinishTodo(todo)" class="btn to-right"><mat-icon>check_circle_outline</mat-icon></button>
              <button (click)="openDialog(todo)" class="btn to-right"><mat-icon>update</mat-icon></button>
              
            </button>
            
          </h2>
          
          <!--This is accordion collapse part.-->
          <div [id]="'collapse'+todo.sno" class="accordion-collapse collapse " [attr.aria-labelledby]="'heading'+todo.sno" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong>{{todo.desc}}</strong> 
            </div>
          </div>
          <!----------update component--------->
          <!--<app-update-todo [todoSno]="todo"  (updateTodoToList)="updateTodoItem($event)" class="to-right"></app-update-todo>-->
        </div>
    </div>

</div>

<!-- get the new Todo from the add todo model through event and updating our todo list. -->
<app-add-modal (sendTodoToList)="addTodoItem($event)"></app-add-modal>
<br><br>


 <app-quotes></app-quotes>