<div class="container text-center">
    <h1 id="firstHeading" class="headingClass">Todo List</h1>

    <div class="accordion" id="accordionExample" *ngFor = "let todo of todos">
        <div class="accordion-item">
          <h2 class="accordion-header" id="heading">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="$(todo.title)" aria-expanded="true" aria-controls="collapseOne">
              {{todo.title}}
            </button>
          </h2>
          <div id="$(todo.title)" class="accordion-collapse collapse show" aria-labelledby="heading" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong>{{todo.desc}}</strong> 
            </div>
          </div>
        </div>
    </div>
</div>

