<!--<div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Quote</h5>
      <h6 class="card-subtitle mb-2 text-muted">Author: {{currentQuote.author}}</h6>
      <p class="card-text">{{currentQuote.text}}</p>
    </div>
</div>-->
<div class="card">
  <div class="card-header">
    Quote
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>{{currentQuote.text}}</p>
      <footer class="blockquote-footer"><cite title="Source Title">{{currentQuote.author}}</cite></footer>
    </blockquote>
  </div>
</div>
<!--<div class="container text-center">
    <h1 id="firstHeading" class="headingClass">Quotes List</h1>

    <div class="accordion" id="accordionExample" *ngFor = "let todo of quotes">
        <div class="accordion-item">
          <h2 class="accordion-header" id="heading">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="todo.author" aria-expanded="true" aria-controls="collapseOne">
              {{todo.author}}
            </button>
          </h2>
          <div id={{todo.text}} class="accordion-collapse collapse show" aria-labelledby="heading" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong>{{todo.text}}</strong> 
            </div>
          </div>
        </div>
    </div>
</div>-->