<button type="button" class="btn btn-primary add-button" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="createNewReference()" data-bs-whatever="@mdo" >Add Task</button>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false"> 
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title add-modal-title" id="exampleModalLabel">New Task</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <!--From here the Add form is starting -->
          <form #addForm="ngForm">
              <!--Two way binding is done here-->
            <div class="mb-3">
              <label for="recipient-name" class="col-form-label">Title</label>
              <input type="text" class="form-control" id="recipient-name"  name ="title" [(ngModel)]="newTodo.title" placeholder="Enter Title" required />
            <!--  <div *ngIf="!isTitleValid">
                <h1>cheking...</h1>
                
              </div>-->
              
            </div>
            <div class="mb-3">
              <label for="message-text" class="col-form-label">Description</label>
              <textarea class="form-control" id="message-text" name="description" [(ngModel)]="newTodo.desc" placeholder="Enter Description"></textarea>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary" (click) = "sendTodo()" [attr.data-bs-dismiss]="tempV">Add Todo</button>
            </div>
          </form>
        </div>
        
      </div>
    </div>
  </div>
  <!--modal-->