.to-right{
    position: relative;
    float:right;
}
.set-pos{
    display:block;
}
.main-heading{
    font-family: 'Dancing Script', cursive;
    font-size:5em;
    padding-top: 40px;
    padding-bottom: 40px;
    color: #11999e;
}
.add-button-style{
    margin-bottom: 20px;

}
.header-background{
    background-color: #daf0ec;
}
.finished-items{
    font-size: 2em;
    color: #40514e;
    padding-bottom:20px;
    
}
.finish-item-style{
    border-left-width: 2px;
    
    width: 30%;
    margin: auto;
    border-top-width: 2px;
    padding-right: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    padding-top: 16px;
    margin-bottom: 4px;
}
.list-group-flush>.list-group-item:last-child {
    border-bottom-width: 2px;
}